<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" (ngSubmit)="check()" #f="ngForm">
                <div class="login__field">
                    <i class="fa-user login__icon fa"></i>
                    <input type="email" placeholder="מייל" class="login__input" pattern="[0-9A-Za-z]+@gmail.com" email #e="ngModel" [(ngModel)]="UserMail" name="email" required>
                    <div class="invalid-feedback" *ngIf="e.invalid && (e.touched || e.dirty)">
                        <p *ngIf="e?.errors?.['required']" class="p-invalid-feedback">שדה חובה</p>
                        <p *ngIf="e?.errors?.['pattern']" class="p-invalid-feedback">כתובת המייל איננה חוקית</p>
                    </div>
                </div>
                <div class="login__field">
                    <i class="login__icon fa fa-lock"></i>
                    <input type="password" placeholder="סיסמה" class="login__input" #p="ngModel" [(ngModel)]="UserPassword" name="pass" pattern="[0-9A-Za-z]*" minlength="6" required>
                    <div class="invalid-feedback" *ngIf="p.invalid && (p.touched || p.dirty)">
                        <p *ngIf="p?.errors?.['required']" class="p-invalid-feedback">שדה חובה</p>
                        <p *ngIf="p?.errors?.['pattern']" class="p-invalid-feedback">סיסמה מכילה אותיות ומספרים בלבד</p>
                        <p *ngIf="p?.errors?.['minlength']" class="p-invalid-feedback">סיסמה באורך 6 תוים לפחות</p>
                    </div>
                </div>
                <input type="submit" class="button login__submit button__icon" [disabled]="!f.valid">
            </form>
            <div class="social-login">
                <h3>התחברות</h3>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>