<div class="container-text">
    WELCOME
</div>
<div class="container">
    <div class="gallery">
        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic1.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic2.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic3.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic4.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic5.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic6.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic7.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic8.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic9.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic10.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic11.jpg">
        </div>

        <div class="gallery-item">
            <img class="gallery-image" src="./assets/pic12.png">
        </div>
    </div>

</div>